/*MAIN*/


.opcion_galeria {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion1 {
    text-align: center;
}


.encabezado {
    background-color: antiquewhite;
    border-radius: 1%;
    width: 100%;
}

.foto {
    width: 100%;
    border-radius: 1%;
}


.index {
    display: flex;
    justify-content: center;
    text-align: center;

}

nav ol {
    list-style-type: none;
    padding: 0;
    text-decoration: none;

}

.galeria {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sub_galeria {
    background-color: rgb(135, 109, 75);
    text-align: center;
}

.sub_galeria img {
    border-radius: 1%;
    margin: 10px;
    width: 30%;
}

a {
    text-decoration: none;
    color: rgb(51, 0, 252);
}



.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* 2 columnas */
    grid-template-rows: 1fr 1fr;
    /* 2 filas */
    justify-items: start;
    align-items: center;
    grid-row-gap: 10px;
    width: 100%;
}

.animacard {
    
    height: 25rem;
    transition: height 2s, width 1s;
}

.animacard:hover {
    height: 30rem;
}

.carousel slide {width: 50%;}

.bodie{background-color: rgb(202, 214, 218);}


/*ADAPTACION A MOBILE*/
@media screen and (max-width: 480px) {
    header h1 {
        color: rgb(255, 149, 0);
        font-size: 40px;
        text-align: center;
        list-style-type: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .menu {
        display: flex;
        flex-direction: column;
        color: rgb(7, 7, 7);
        font-size: 100%;
        list-style-type: none;
        font-weight: 800px;
        font-size: 20px;

    }

    .menu li {
        margin: 8px;
    }

    ul.menu li a {
        padding: .5rem;
        border-radius: 50%;
        background-color: rgb(215, 237, 237);
        text-decoration: none;
        color: rgb(247, 104, 2);
    }

    .sub_galeria img {
        border-radius: 1%;
        margin: 10px;
        width: 90%;
    }

}