/*HEADER*/
header {
    background-color: azure;
}

header h1 {
    color: rgb(255, 149, 0);
    font-size: 60px;
    text-align: center;
    list-style-type: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(7, 7, 7);
    font-size: 100%;
    list-style-type: none;
    font-weight: 1000;
    font-size: 25px;

}

.menu li {
    margin: 10px;
}

.menu_item.activo,
.menu_item a:hover {
    background-color: aliceblue;
    text-decoration: underline double;
}

ul.menu li a {
    padding: .5rem;
    border-radius: 50%;
    background-color: rgb(215, 237, 237);
    text-decoration: none;
    color: rgb(247, 104, 2);
}
